footer
    position relative
    bottom 0 
    width 100%
    background-color #D2AE6D
    z-index 2
    .footer 
        width 1200px
        height 125px
        margin 0 auto !important
        display flex
        flex-direction row
        align-items center
        justify-content center
        padding 0 0 20px 0
        .logo-rodape
            display flex
            margin 0
            padding 0
            img 
                margin-right 20px
            .info-cliente
                display flex
                flex-direction column
                p
                    cinzel(18, light)
                    color #FFF
                    text-transform capitalize
                    margin 0
                    padding 0
                    line-height 1.3
                    letter-spacing 0.3px
        .linha-vertical
            height 65px
            border-left solid 1.5px #FFF
            margin 0 30px
        .info-direitos
            display flex
            flex-direction column
            justify-content center
            margin 5px 0
            p
                opensans(11)
                color #FFF
                margin 0
    +below($tablet)
        width 100%
        .footer
            width 90%
            margin 0 auto
            .logo-rodape
                img 
                    width 12%
                    margin 0 15px 0 0
                .info-cliente
                    p
                        cinzel(15, light)
            .info-direitos
                p
                    opensans(10)
    +mobile()
        width 100%
        .footer 
            width 90%
            margin 0 auto !important
            flex-direction column
            align-items center
            justify-content center
            padding 0
            .linha-vertical
                height 0
                width 80%
                border-left none
                border-bottom solid 1.5px #FFF
                margin 10px 0
            

            
  
