header
    width 100%
    height 350px
    margin 0 auto
    top 0
    left 0
    z-index 2
    background-color #6A2E2B
    div.center
        position relative
        width 1200px !important
        height 100%
        margin 0 auto
        display flex
        flex-direction row
        align-items center
        .bg-logo
            width 1000px !important
            height 100%
            background-image $img('bg-cabecalho-granzotte.png')
            background-color #6A2E2B
            background-size cover
            background-position center
            box-shadow 0 0 50px #6A2E2B inset;
            opacity 0.3
            margin 0 0 0 80px
            z-index 1
        .logo
            width 60% !important
            height 100%
            position absolute
            left 0
            margin 0 0 25px 40px
            background $img('marca-granzotte.svg') no-repeat center
            color #D2AE6D
            z-index 2
        nav
            width 45%
            height 100%
            div.itens-menu
                height 100%
                margin 0
                display flex
                flex-direction column
                align-items flex-start
                justify-content center
                p
                    height 22px
                    padding 0
                    margin 0
                    cinzel(18) 
                    color #D2AE6D
                    text-transform capitalize
                    white-space nowrap
            
    +below($tablet)
        width 100%
        padding 0
        div.center
            width 90% !important
            height 100%
            margin 0 auto
            .bg-logo
                width 90% !important
                height 100%
                margin 0
            .logo
                margin 0 0 25px 0
            nav
                div.itens-menu
                    height auto
                    margin 86px 0
                    display flex
                    flex-direction column
                    align-items flex-start
                    justify-content center
                    background-color #6A2E2B
                    padding 0
                    p
                        height 20px
                        cinzel(16) 
    +mobile()
        width 100%
        div.center
            width 100% !important
            margin 0
            flex-direction column
            justify-content center
            align-items center
            .bg-logo
                width 100% !important
                height 100%
                margin 0
            .logo
                width 70% !important
                height 40%
                top 0
                background-image $img('marca-granzotte.svg')
                background-size contain
                background-position center
                background-repeat no-repeat
                margin 0 0 0 50px
            nav
                width 80% !important
                margin 0 auto
                height 100%
                div.itens-menu
                    height 100%
                    margin 0
                    padding-bottom 20px
                    display flex
                    flex-direction column
                    align-items center
                    justify-content flex-start
                    p
                        height 20px
                        cinzel(16) 





#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 100%
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin 0 30px 0 auto
    +mobile()
        margin 0 0 0 auto
    .lines
        display block
        width 100%
        height 4px
        background-color #808080
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background-color #808080
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            display block
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)
        .lines-home
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

