html
body
    height 100%
    font-family 'Cinzel', 'Open Sans', 'Helvetica', 'Arial', sans-serif
body
    background-color #FFF
    margin 0
    padding 0
    overflow-x hidden
    position relative
    .wrapper
        width 100%
        min-height calc('100% - 125px')
        position relative
        .center
            clearfix()
            width 100%
            .content
                width 100%
    +below($tablet)
        min-height auto
        .center
            width 100%
            .content
                width 100%
                float none
    +mobile()
        min-height auto
        .wrapper
            width 100%
            .center .content
                width 100%
