.home
    width 1200px
    margin 35px auto
    height auto
    display flex
    flex-direction row
    align-items flex-start
    .dados-empresa
        width 67%
        height auto
        display flex
        flex-direction column
        .institucional
            width 100%
            padding 0 100px 50px 0
            p
                opensans(16)
                color #6A2E2B
                margin 0
                line-height 1.4
        .itens-servicos
            width 100%
            padding 0 100px 0 0
            .item
                display flex
                flex-direction row
                align-items flex-start
                margin-bottom 30px
                img 
                    width 200px
                    height 150px
                    background-size cover
                    background-position center
                    object-fit cover
                .item-texto
                    opensans(16)
                    color #6A2E2B
                    padding 0 0 0 30px
                    p
                        margin 0
    .contatos
        width 33%
        height auto
        .contato
            display flex
            flex-direction column
            .nome
                cinzel(18, medium)
                color #6A2E2B
                margin 0
            .registro
                cinzel(14, medium)
                color #6A2E2B
                margin 0
            .telefone
                cinzel(18, medium)
                color #6A2E2B
                margin 15px 0
                &:hover
                &:focus
                &:active
                    color #D2AE6D
                    font-weight 700
        .form-contato
            display flex
            flex-direction column
            margin-top 40px
            h2
                opensans(12, bold)
                color #D2AE6D
                text-transform uppercase
                margin 5px 0
            form
                width 100%
                display flex
                flex-direction column
                input[type=text]
                input[type=email] 
                    margin 1px 0
                    border none
                    height 40px
                    padding 0 7px
                    outline none
                    opensans(16, medium)
                    color #6A2E2B
                    background-color #FFF
                    border 2px solid #e4cea7
                    +placeholder()
                        color #6A2E2B
                        background-color #FFF
                    &:hover
                    &:focus
                        background-color #FFF
                        opensans(16)
                        font-weight 700
                textarea
                    margin 1px 0
                    border none
                    height 200px
                    padding 7px 10px
                    outline none
                    opensans(16, medium)
                    color #6A2E2B
                    background-color #FFF
                    border 2px solid #e4cea7
                    +placeholder()
                        color #6A2E2B
                        background-color #FFF
                    &:hover
                    &:focus
                        background-color #FFF
                        opensans(16)
                        font-weight 700
                .btn-contato
                    margin 1px 0
                    border none
                    border-radius 0
                    opensans(16, bold)
                    background-color #FFF
                    border 2px solid #e4cea7
                    color #6A2E2B
                    text-transform uppercase
                    height 40px
                    width 100%
                    outline none
                    &:hover
                    &:focus
                        background-color #6A2E2B
                        color #e4cea7
                clearfix()
                .flash
                    display flex
                    flex-direction column
                    align-items center
                    justify-content space-around
                    margin 5px 0 0 0
                    width 100%
                    height 60px
                    opensans(14, medium)
                    padding 10px
                    border-radius 0
                    > p
                        margin 0
                    &.flash-erro
                        border 2px solid $vermelho
                        background $vermelho
                        color #fff
                    &.flash-sucesso
                        border 2px solid $verde
                        background $verde
                        color #fff
    +below($tablet)
        width 90% !important
        display flex
        flex-direction column
        align-items center
        .dados-empresa
            width 100%
            margin-bottom 50px
            .institucional
                width 100%
                padding 0 0 50px 0
            .itens-servicos
                width 100%
                padding 0
        .contatos
            width 100%
            .contato
                align-items center
            .form-contato
                margin-top 0
    +mobile()
        width 90% !important
        .dados-empresa
            .institucional
                padding 0 0 30px 0
                p
                    opensans(14)
            .itens-servicos
                .item
                    flex-direction column
                    align-items center
                    img 
                        width 70%
                        height 180px
                    .item-texto
                        opensans(14)
                        padding 0
